body{
    
    
    flex-direction: column;
    color : white;
    background-color: rgb(54, 52, 153);
    font-size: 18px;

}

.download{

    color :#04AA6D;
}
.legend-scale ul {
margin: 0;
margin-bottom: 5px;
padding: 0;
float: left;
list-style: none;
}
.legend-scale ul li {
font-size: 80%;
list-style: none;
margin-left: 0;
line-height: 18px;
margin-bottom: 2px;
}
ul.legend-labels li span {
display: block;
float: left;
height: 16px;
width: 30px;
margin-right: 5px;
margin-left: 0;
border: 1px solid #999;
    }
#game{

    margin-bottom: 30%;
}


.legend-scale{

    margin-top: 50px;
    margin-left: 50px;

}
.nbr{

    background-color:crimson;
}
button {

    border-color: rgb(63, 24, 53);
    color: white;
    background-color: rgb(55, 24, 83);
    margin-top: 30px;
    margin-left: 30%;
    width : 100%;    
}

button:hover{

    scale: 105%;
    transition: 0.3 ease-in-out;

}
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-bottom: 5%;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

div.head{
    display: inline-block;
}

#head_{

    text-align:  center;
    margin-left: 5%;
    margin-right: 5%;
}


canvas{
    box-shadow: black 20px 10px 50px;;
}

p {
    color: white;
}


img {
    border-radius: 3px;
    border-color: black;
    border-width: 10 px;
    position: center;
    width: 40%;
 

}

.same_{

    display: inline-block;

}
.perso{

    width: 60%;
    margin-left: 30%;
    margin-top: 30%;

}

#display{

    vertical-align: top;
    margin-top : 10%
    
}s


.perso:hover{

    scale: 120%;
    transition: 0.5s;
    
}

